<!DOCTYPE HTML>
<html>
  <head>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script>
      window.onkeydown = function(evt) {
        if (evt.key == " ") {
         window.location = "/intro/0"
       }
     }
      setInterval(function() {
                location.reload()
      }, 2000)
   </script>
  </head>

  <body>
    <div>
      <ol>
        {{#users}}
        <li>
          {{.}}
        </li>
        {{/users}}
      </ol>
    </div>
    <!-- <p>
      press space to contine
    </p> -->
  </body>
</html>
