<!DOCTYPE HTML>
<html>
  <head>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <script>
      window.onkeydown = function(evt) {
        if (evt.key == " ") {
         window.location = "/intro/0"
       }
     }
      setInterval(function() {
                location.reload()
      }, 2000)
   </script>
  </head>

  <body>
    <div>
      <img id="blankname" src="tv1_blanknames.png">
      <div id="namelist">
        <ol>
          {{#users}}
          <li>
            {{.}}
          </li>
          {{/users}}
        </ol>
      </div>
    </div>
    <!-- <p>
      press space to contine
    </p> -->
  </body>
</html>
