<!DOCTYPE HTML>
<html>
	<head>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
		<script>
			function showRole() {
				document.getElementById("roleimg").src = "{{roleimg}}"
			}

			var roundNum = {{roundNum}};
			setInterval(function() {
  				fetch("/roundNumber").then(function (res) {
  					return res.json();
  				}).then(function (roundRes) {
    				if (roundRes.roundNum != roundNum) {
      					location.reload()
    				}
  				})
			}, 1000)

		</script>
	</head>

	<body>
		<div>
			<img src="{{roundImg}}" id="roleimg" onclick="showRole();">
		</div>
		<!-- <button onclick="location.reload();">Get Next Role</button> -->
	</body>
</html>