<!DOCTYPE HTML>
<html>
  <head>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script>
      window.onkeydown = function(evt) {
       if (evt.key == " ") {
        window.location = "/players"
      }
    }
  </script>
  </head>

  <body>
    <div>
      <img src="tv_welcome.png">
    </div>
    <!-- <p>
      press space to contine
    </p> -->
    <p>
      navigate to {{host}} on your phone to join the game
    </p>
  </body>
</html>
