/*********** enterName.html and nameEntered.html************/

#phonebackground {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
}

#inputname {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.enternametext {
    font-family: Karla;
    font-size: 6.5vw;
    color: #FFFFFF;
    letter-spacing: 0;
}

#inputbox {
    font-family: Karla;
    font-size: 6.5vw;
}

#joinbutton {
    font-family: Karla;
    font-size: 6.5vw;
    color: #1A4BCF;
    background: #FFDC73;
    border-radius: 10px;
}

img {
    width: 100%;
}

/*********** start.mustache (First Screen) ************/
#tvwelcomeimage {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
}

#howtojointext {
    position: absolute;
    margin-left: 5%;
    font-family: Karla;
    font-size: 1.5vw;
    color: #FFFFFF;
}

/*********** players.mustache ************/

#blankname {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
}

#namelist {
    position: absolute;
    font-family: Karla;
    font-size: 3.2vw;
    color: #1A4BCF;
    letter-spacing: 0;
    margin-left:64%;
    margin-top: 12.7%;
}

/*********** round.mustache (Timer) ************/

svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
    stroke-dasharray: 226px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
}

@keyframes countdown {
    from {
      stroke-dashoffset: 0px;
  }
  to {
      stroke-dashoffset: 226px;
  }
}

#countdown {
    position: absolute;
    top: 15%;
    right: 15%;
    text-align: center;
    height: 80px;
    width: 80px;
}

#countdown-number {
    color: white;
    display: inline-block;
    line-height: 80px;
    font-family: Karla;
    font-size: 30px;
}